$white: #ffffff;
$black: #000000;
$black-transparent: #000000b5;
$coral: #f65261;
$grey-400: #555555;
$gray-400-transparent: #55555566;
$gray-600: #424242;
$gray-600-transparent: #4242428c;
$gray-800: #232323;
$gray-900: #141414;
$light-green: #a1e66f;
